@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "./responsive.scss";

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body,
html {
 margin: 0;
 font-family: 'Poppins', sans-serif !important;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 height: 100%;
 overscroll-behavior-y: contain;
 background-color: #EAEAEA !important;
}

.adm-result-page-icon {
 display: none !important;
}

.adm-popup-body-position-bottom {
 width: 415px;
 bottom: 60px;
 right: 25%;
 left: 50%;
 margin-left: -207px;
}

@include media(phone-only) {
 .adm-popup-body-position-bottom {
  width: 100%;
  left: 0;
  bottom: 60px;
  margin-left: unset;
  right: unset;
 }
}